@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Yekan bakh";
  src: url(/fonts/YekanBakhFaNum-Medium.woff2) format(woff2);
}

html {
  scroll-behavior: smooth;
}
